.detail{
    background: url("images/philosophy-of-videogames.jpg");
    width: 100%;
    height: 100%;
    color: aliceblue;
    top: 0;
    border: 3px solid black;
    /* background-color: rgba(0, 0, 0, 0.824); */
    border-radius: 20px;
}

.first {
    background: linear-gradient(transparent, yellowgreen ); 
    margin-left: auto;
    margin-right: auto;   
    width: 1200px;
    height: 1200px;
    
}

.img {
    border-radius: 20px 20px 8px 8px;
    width: 800px; 
    height: 500px;
    border: 5px solid rgb(1, 133, 78);
}

.h1 {
    color: black;
    align-self: auto;
    width: 4000px;
}

.h2 {
    margin-top: 2%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 8px 8px 8px rgb(0, 107, 0);
}

.h5 {
    color: black;
}

.button {
    top: 8%;
    --green: #fd1b41;
    font-size: 15px;
    padding: 0.9em 2.9em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    font-weight: bold;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(32, 44, 39, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(21, 25, 23, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    cursor: pointer;
   }


/* .button {
    top: 8%;
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.9em 2.9em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    font-weight: bold;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    cursor: pointer;
   } */

   .button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
   }

   .button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
   }

   .button:hover:before {
    transform: translateX(15em);
   }